[submodule "01 - libft"]
	path = 01 - libft
	url = https://github.com/nayran/libft.git
[submodule "02 - netwhat"]
	path = 02 - netwhat
	url = https://github.com/nayran/netwhat.git
[submodule "03 - get_next_line"]
	path = 03 - get_next_line
	url = https://github.com/nayran/get_next_line.git
