[submodule "01 - libft"]
	path = 01 - libft
	url = https://github.com/nayran/libft.git
[submodule "02 - netwhat"]
	path = 02 - netwhat
	url = https://github.com/nayran/netwhat.git
[submodule "03 - get_next_line"]
	path = 03 - get_next_line
	url = https://github.com/nayran/get_next_line.git
[submodule "04 - ft_printf"]
	path = 04 - ft_printf
	url = https://github.com/nayran/ft_printf.git
[submodule "05 - ft_server"]
	path = 05 - ft_server
	url = https://github.com/nayran/ft_server.git
[submodule "06 - cub3D"]
	path = 06 - cub3D
	url = https://github.com/nayran/cub3D.git
[submodule "07 - libasm"]
	path = 07 - libasm
	url = https://github.com/nayran/libasm.git
[submodule "08 - minishell"]
	path = 08 - minishell
	url = https://github.com/nayran/minishell.git
[submodule "09 - ft_services"]
	path = 09 - ft_services
	url = https://github.com/nayran/ft_services.git
